/* ---------------------------   DESKTOP RESULTS MENU BOX NAZIV----------------------------*/
.GO-ResultsMenuBoxnaziv {
	/*position: relative;
	float: left;*/
	background-color:#062f57; 
	width: 228px;
	height: 36px;
	padding: 0px 6px 0px 6px; 
	margin: 0px 0px 0px 0px; 
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#062f57; 
	color: #cfd7df;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	text-align:center !important;
    
    color: #E9E9E9;
	font-size: 16px; 
	line-height: 36px;
    
}
.GO-Arrow-Down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #062f57;
}
.GO-ResultsMenuBoxnaziv_OFF:after{ /*arrow added to headernaziv DIV*/
	z-index: 1000;
	content:'';
	position:absolute;
	top:100%; /*should be set to 100% */
	left:20px;
	width:0;
	height:0;
	border-color: #062f57 transparent transparent transparent; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 9px;
}
.GO-ResultsMenuBoxnazivTXT {
	position: relative;
	float: left;
	width: 216px;
	height: 36px;
	margin: 0px 0px 0px 0px; 
	background: none;
	color: #E9E9E9;
	font-size: 16px; 
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	line-height: 36px;
	text-align:center;
}

/* ---------------------------   MOBILE RESULTS MENU BOX ----------------------------*/
.GO-ResultsMenuBox {
	/*position: relative;
	float: left;*/
	background-color:#FFFFFF; 
	width: 228px;
	padding: 0px 0px 0px 0px; 
	margin: 0px; 
}
.GO-ResultsMenuBox a:link {
	display:block;
	font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.GO-ResultsMenuBox a:visited {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.GO-ResultsMenuBox a:hover {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
	color: #FFFFFF;
}
.GO-ResultsMenuBox a:active {
   text-decoration: none;
    font-style: normal;
    font-weight: normal;
}
.GO-ResultsMenuBox ul { 
	position: relative;
	width: 100%;  
	list-style-type:none;
	list-style-position:inside;
	margin: 0px;
	padding: 0px;
}
.GO-ResultsMenuBox ul li { 
	position: relative;
	width: 100%;
	height: 24px; 
	line-height: 24px; 
	padding-left: 22px;
	padding-right: 10px;
	/*padding-top: 2px;
	padding-bottom: 0px;*/
	font-size: 14px;
}
.GO-ResultsMenuBox li:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0px;
  left: 10px;
  content: "\f0da";
}
/* END DODATEK K LI */
.GO-ResultsMenuBox a:hover span{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}
.GO-ResultsMenuBox ul li:hover {
	background-color:#E9E9E9;
	color: #000000;
}
.GO-ResultsMenuBox span { 
	display:inline-block;
	*float:left;
}
.GO-ResultsMenuBox span.GO-stevec { 
	float: right;
	text-align: right;
}
/* ---------------------------   RESULTS MENU BOX ACCORDION ----------------------------*/
.GO-MenuOstaleZnamke { 
	text-align: right;	
	cursor: pointer;
	padding: 5px 12px 5px 0px;
}

.GO-MenuOstaleZnamke a:link {
	color: #000000;	
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.GO-MenuOstaleZnamke a:active {
	color: #000000;	
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}
.GO-MenuOstaleZnamke a:visited {
	color: #000000;	
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
GO-MenuOstaleZnamke:hover {
	color: #000000;	
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}

.GO-MenuOstaleZnamke span {
	text-align: left;	
	cursor: pointer;
	padding: 0px 5px 0px 0px;
}
.GO-MenuOstaleZnamke span:hover {
	text-decoration:underline;
}
